{% load static %}

<div
    class="divergence-meter flex justify-center gap-2 shadow px-2 bg-black rounded h-20 overflow-hidden w-fit">
    <img id="meter-1" class="h-full meter"
        src="{% static 'portfolio/images/numbers/1.png' %}" alt>
    <img id="meter-2" class="h-full meter"
        src="{% static 'portfolio/images/numbers/blank.png' %}" alt>
    <img id="meter-3" class="h-full meter"
        src="{% static 'portfolio/images/numbers/1.png' %}" alt>
    <img id="meter-4" class="h-full meter"
        src="{% static 'portfolio/images/numbers/1.png' %}" alt>
    <img id="meter-5" class="h-full meter"
        src="{% static 'portfolio/images/numbers/1.png' %}" alt>
    <img id="meter-6" class="h-full meter"
        src="{% static 'portfolio/images/numbers/1.png' %}" alt>
    <img id="meter-7" class="h-full meter"
        src="{% static 'portfolio/images/numbers/1.png' %}" alt>
    <img id="meter-8" class="h-full meter"
        src="{% static 'portfolio/images/numbers/1.png' %}" alt>
</div>