

{% extends 'portfolio/base.html' %}

{% block title %}Rouel Astrolabio Portfolio{% endblock %}

{% block content %}
{% load static %}

{% include 'portfolio/banner.html' %}
{% include 'portfolio/hr.html' %}
{% include 'portfolio/about.html' %}
{% include 'portfolio/hr.html' %}
{% include 'portfolio/projects.html' %}

<div class="max-w-6xl mx-auto w-full h-full flex justify-center pb-5"
    slide-from-right data-start="top 100%" data-delay="0.3">
    {% include 'portfolio/divergence-meter.html' %}
</div>
{% endblock %}
