[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
black = "*"
django-widget-tweaks = "*"
boto3 = "*"
django-cleanup = "*"
django-storages = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
