[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
boto3 = "*"
django-cleanup = "*"
django-storages = "*"
whitenoise = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
