{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Registration
{% endblock %}

{% block body %}

<div class="container my-5">
    <b>Registration</b>

    <div class="my-4">
        {% if success %}
        Registration Success!
        <br />
        <a class="btn btn-primary" href="/accounts/login">Login</a>
        {% else %}

        <form method="post">
            {% csrf_token %}

            {% for field in registration_form %}
            <label for="id_{{field.label|lower}}">{{field.label}}</label>
            {{ field.errors }}
            {{ field.required }}
            {% render_field field class="form-control" %}
            {% endfor %}

            <input class="btn btn-primary my-2" type="submit" />
        </form>
    </div>
</div>

{% endif %}
{% endblock %}