{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="https://rouel.pages.dev/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://rouel.pages.dev/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://rouel.pages.dev/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://rouel.pages.dev/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://rouel.pages.dev/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://rouel.pages.dev/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://rouel.pages.dev/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://rouel.pages.dev/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://rouel.pages.dev/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://rouel.pages.dev/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://rouel.pages.dev/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://rouel.pages.dev/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://rouel.pages.dev/favicon-16x16.png">
  <link rel="manifest" href="https://rouel.pages.dev/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://rouel.pages.dev/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:site_name" content="Rouel portfolio">
  <meta property="og:type" content="website">
  <meta name="author" content="rouel">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://rouel.pages.dev/">
  <meta property="og:title" content="Rouel Astrolabio | Web Developer">
  <meta name="description" content="Django Portfolio">
  <meta name="og:description" content="Django Portfolio">
  <meta property="og:image" content="https://rouel.pages.dev/sample-image.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ZL3243VBM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9ZL3243VBM');
  </script>

  <title>{% block title %} {% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  {% block head %} {% endblock %}
</head>

<body style="opacity: 0; overflow-y: hidden;">
  {% block body %}{% endblock %}
</body>

</html>